<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
        <div class="license-process">
            <span class="icon01">
                <em>STEP 01</em>
                인적사항
            </span>
            <i><img src="../assets/images/main/lience-step_arrow.svg" alt=""></i>
            <span class="icon04 active">
                <em>STEP 02</em>
                취업상황
            </span>
        </div>
        <div class="license-write-box">
            <div class="licensehead-title">인적사항</div>
            <div class="licenseWrite-inner">
                <ul class="reg-input-box">
                    <li>
                        <div class="input-title">성명</div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="writeName" th:value="${firstStepInfo.name}" readonly>
                        </div>
                    </li>
                    <li>
                        <div class="input-title">면허번호</div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="writeLicenseNo" th:value="${firstStepInfo.licenseNo}" readonly>
                        </div>
                    </li>
                    <li>
                        <div class="input-title">면허발급 연도<span>*</span></div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="writeLicenseYear" th:value="${firstStepInfo.licenseYear}" readonly>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="process-copy">
                <span class="red">*</span>표시가 된 곳은 필수 항목입니다.
            </div>
            <!--선택 사항 St-->
            <div class="licensehead-title">취업상황</div>
            <div class="licenseWrite-inner">
                <ul class="reg-input-box">
                    <li>
                        <div class="input-title">활동 여부<span>*</span></div>
                        <div class="form-group">
                            <select class="sort-form-select width-select" name="account">
                                <option>활동 여부 선택</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="licensehead-title depth">취업상황</div>
            <div class="licenseWrite-inner">
                <ul class="reg-input-box">
                    <li>
                        <div class="input-title">활동 여부<span>*</span></div>
                        <div class="form-group">
                            <select class="sort-form-select width-select" name="">
                                <option>약국근무</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="sort-form-select width-select" name="">
                                <option>근무형태</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-title">근무 구분<span>*</span></div>
                        <div class="form-group multile">
                            <select class="sort-form-select width-select" name="">
                                <option>근무 구분</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-title">근무 약국 명칭<span>*</span></div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="" placeholder="">
                        </div>
                    </li>
                    <li>
                        <div class="input-title">근무 약국 주소<span>*</span></div>
                        <div class="form-group btnbox">
                            <input type="text" class="input-control" placeholder="주소검색 버튼 이용">
                            <span class="btn-r"><button type="button" class="btn-frame  default bg-gray">주소검색</button></span>
                        </div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="writeBasicAddress" placeholder="기본 주소">
                        </div>
                        <div class="form-group popinput">
                            <input type="text" class="input-control" id="writeDetailAddress" placeholder="상세 주소 주소">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</html>